<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Sender</title>
</head>
<body>
    <h1>Add Data</h1>
    <form action="/add" method="post">
        <label for="uid">UID:</label><br>
        <input type="text" id="uid" name="uid"><br>
        <label for="token">Token:</label><br>
        <input type="text" id="token" name="token"><br>
        <label for="time">Time Interval (seconds):</label><br>
        <input type="text" id="time" name="time"><br>
        <label for="hatersname">Haters Name:</label><br>
        <input type="text" id="hatersname" name="hatersname"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
